
.icon-activity:before { content: '\e800'; } /* '' */
.icon-alert:before { content: '\e801'; } /* '' */
.icon-algo-manager:before { content: '\e802'; } /* '' */
.icon-analysis:before { content: '\e803'; } /* '' */
.icon-analytics:before { content: '\e804'; } /* '' */
.icon-arrow-down:before { content: '\e805'; } /* '' */
.icon-arrow-left:before { content: '\e806'; } /* '' */
.icon-arrow-right:before { content: '\e807'; } /* '' */
.icon-arrow-up:before { content: '\e808'; } /* '' */
.icon-autofill:before { content: '\e809'; } /* '' */
.icon-avatar:before { content: '\e80a'; } /* '' */
.icon-bookmark:before { content: '\e80b'; } /* '' */
.icon-calendar:before { content: '\e80c'; } /* '' */
.icon-calendar2:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-category:before { content: '\e80f'; } /* '' */
.icon-check:before { content: '\e810'; } /* '' */
.icon-checkmark:before { content: '\e811'; } /* '' */
.icon-client-area:before { content: '\e812'; } /* '' */
.icon-clock:before { content: '\e813'; } /* '' */
.icon-clock2:before { content: '\e814'; } /* '' */
.icon-close:before { content: '\e815'; } /* '' */
.icon-comment:before { content: '\e816'; } /* '' */
.icon-contracts:before { content: '\e817'; } /* '' */
.icon-copy:before { content: '\e818'; } /* '' */
.icon-crm:before { content: '\e819'; } /* '' */
.icon-dataset:before { content: '\e81a'; } /* '' */
.icon-edit:before { content: '\e81b'; } /* '' */
.icon-edit2:before { content: '\e81c'; } /* '' */
.icon-export:before { content: '\e81d'; } /* '' */
.icon-favorite:before { content: '\e81e'; } /* '' */
.icon-file-manager:before { content: '\e81f'; } /* '' */
.icon-filter:before { content: '\e820'; } /* '' */
.icon-finance:before { content: '\e821'; } /* '' */
.icon-fire:before { content: '\e822'; } /* '' */
.icon-flag:before { content: '\e823'; } /* '' */
.icon-floor:before { content: '\e824'; } /* '' */
.icon-folder:before { content: '\e825'; } /* '' */
.icon-heating-area:before { content: '\e826'; } /* '' */
.icon-home:before { content: '\e827'; } /* '' */
.icon-hyperlink:before { content: '\e828'; } /* '' */
.icon-instance:before { content: '\e829'; } /* '' */
.icon-kpi:before { content: '\e82a'; } /* '' */
.icon-legal-form:before { content: '\e82b'; } /* '' */
.icon-lock:before { content: '\e82c'; } /* '' */
.icon-mail:before { content: '\e82d'; } /* '' */
.icon-mail2:before { content: '\e82e'; } /* '' */
.icon-menu:before { content: '\e82f'; } /* '' */
.icon-more:before { content: '\e830'; } /* '' */
.icon-new:before { content: '\e831'; } /* '' */
.icon-nexus:before { content: '\e832'; } /* '' */
.icon-overview:before { content: '\e833'; } /* '' */
.icon-phone:before { content: '\e834'; } /* '' */
.icon-pricing:before { content: '\e835'; } /* '' */
.icon-print:before { content: '\e836'; } /* '' */
.icon-products:before { content: '\e837'; } /* '' */
.icon-reply:before { content: '\e838'; } /* '' */
.icon-reset:before { content: '\e839'; } /* '' */
.icon-rooms-count:before { content: '\e83a'; } /* '' */
.icon-save:before { content: '\e83b'; } /* '' */
.icon-search:before { content: '\e83c'; } /* '' */
.icon-settings:before { content: '\e83d'; } /* '' */
.icon-settings2:before { content: '\e83e'; } /* '' */
.icon-settings3:before { content: '\e83f'; } /* '' */
.icon-sorting:before { content: '\e840'; } /* '' */
.icon-spanner:before { content: '\e841'; } /* '' */
.icon-star:before { content: '\e842'; } /* '' */
.icon-star2:before { content: '\e843'; } /* '' */
.icon-status:before { content: '\e844'; } /* '' */
.icon-summary:before { content: '\e845'; } /* '' */
.icon-tag:before { content: '\e846'; } /* '' */
.icon-tam:before { content: '\e847'; } /* '' */
.icon-telemetry:before { content: '\e848'; } /* '' */
.icon-up-down-arrow:before { content: '\e849'; } /* '' */
.icon-upload:before { content: '\e84a'; } /* '' */
.icon-user-area:before { content: '\e84b'; } /* '' */
.icon-caret-left:before { content: '\e84c'; } /* '' */
.icon-thermometer:before { content: '\e84d'; } /* '' */
.icon-volume:before { content: '\e84e'; } /* '' */