/* CSS Document */
.form-style-1 {
    max-width: 100%;
    padding: 0px 0px 22px 0px;
	font-size: 11.5px;
	font-family: 'roboto-regular';
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 12px 0 0 0;
}
.form-style-1 label {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	color: #b1afaf;
	font-family: inherit;
	font-size: 11.5px;
	letter-spacing: 0.6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    border:1px solid rgb(219, 219, 220);
	background-color: rgb(253, 253, 253);
	height: 34px;
	padding-left: 11px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}

/*Start Financial Forms*/
.form-style-1 input[type=financial] {
	color: #b1afaf;
	font-family: inherit;
	letter-spacing: 0.6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    border:1px solid rgb(219, 219, 220);
	background-color: rgb(236, 245, 227);
    padding: 8px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
/*End Financial Forms*/


/*Start large checkbox box*/




/*Start lined input forms*/
.summary-form label, .container-summary-content label {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
	font-size: 12.5px;
	font-family: 'roboto-bold';
	letter-spacing: 1px;
}

.summary-form input[type=text] {
	color: #000;
}

.text-line placeholder {
	color: #C33739;
}

.text-line {
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #b5b5b1 1px;
    padding: 3px 2px;
	width: 98%;
	font-family: inherit;
}
/*End lined input forms*/


.date-select {
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/date.png) right / 20px no-repeat #fff;
    padding-right: 25px;
}



.field-select {
    -webkit-border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/down-arrow.png) right / 20px no-repeat #fff;
    padding-right: 25px;
}


.field-autofill {
    -webkit-border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/autofill.png) right / 20px no-repeat #fff;
    padding-right: 25px;
}



.form-upload {
	height: 100px;
	border: 1.3px dashed rgb(144, 144, 146);
	background-color: #fdfdfd;
}

.form-upload p {
	margin-top: 20px;

    text-align: center;
    color: #000;
}


.form-upload input{
	position: absolute;
    margin: 0;
    padding: 0;

    height: 100px;
    outline: none;
    opacity: 0;
}

.file-upload-icon {
	font-size: 40px;
}

.form-upload p {
	color: #b1afaf;
}



.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=textarea]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .check-box-section{
    width: 49%;
}

.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
	font-size: 12.5px;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .date-select{
    width: 100%;
}

.form-style-1 .field-textarea{
    height: 74px;
	width: 100%;
	font-size: 12.5px;
}

.form-style-1 textarea {
  resize: none;
}

.field-tiny {
	width: 34px;
	height: 24px;
}


.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
	
	
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

input[type="text"]:disabled, input[type="textarea"]:disabled, select[name=field4]:disabled, input[type="textarea"]:disabled {
    background: #f4f3f3;
}



input[type="date"]::-webkit-calendar-picker-indicator{
    -webkit-border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/date.png) right / 20px no-repeat #fff;
    padding-right: 25px;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}


/*Start regular Checkbox*/
.regular-checkbox, .tiny-checkbox, .flag-checkbox, .fav-checkbox, .white-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: rgb(253, 253, 253);
	border: 1px solid rgb(219, 219, 220);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 14.5px;
	border-radius: 4px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active, 
.tiny-checkbox + label:active, .tiny-checkbox:checked + label:active,
.flag-checkbox + label:active, .flag-checkbox:checked + label:active,
.fav-checkbox + label:active, .fav-checkbox:checked + label:active, .white-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label, 
.tiny-checkbox:checked + label, 
.flag-checkbox:checked + label,
.fav-checkbox:checked + label {
	background-color: #f4f4f4;
	border: 1px solid rgb(219, 219, 220);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after, .white-checkbox:checked + label:after {
	font-family: 'energicos-icons';
	content: '\e811';
	font-size: 10px;
	position: absolute;
	top: 9px;
	left: 8px;
	color: #bf1421;
}
/*End Regular checkbox*/


/*Start white checkbox*/
.white-checkbox + label, .flag-checkbox + label, .fav-checkbox + label  {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(219, 219, 220);
	padding: 14.5px;
	border-radius: 4px;
	display: inline-block;
	position: relative;
}

.white-checkbox:checked + label, .flag-checkbox:checked + label, .fav-checkbox:checked + label  {
	background-color: #f7f6f6;
	border: 1px solid rgb(219, 219, 220);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
/*End white checkbox*/


/*Start other checkboxes*/
.tiny-checkbox + label {
	margin-top: 9px;
	background-color: rgb(253, 253, 253);
	border: 1px solid rgb(219, 219, 220);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 8px;
	border-radius: 1px;
	display: inline-block;
	position: relative;
}

.tiny-checkbox:checked + label:after {
	font-family: 'energicos-icons';
	content: '\e84a';
	font-size: 10px;
	position: absolute;
	top: -10px;
	left: 3px;
	color: #bf1421;
}


.flag-checkbox:checked + label:after {
	font-family: 'energicos-icons';
	content: '\e823';
	font-size: 10px;
	position: absolute;
	top: 9px;
	left: 7px;
	color: #bf1421;
}


.fav-checkbox:checked + label:after {
	font-family: 'energicos-icons';
	content: '\e843';
	font-size: 11px;
	position: absolute;
	top: 9px;
	left: 6px;
	color: #bf1421;
}
/*End other checkboxes*/
/*End Checkbox*/


.form-element { 
	font-family: 'roboto-regular'; 
	letter-spacing: 0.5px;
	font-size: 11px;
}



/*Determine color of form placeholder*/
::placeholder {
    color: #b1afaf;
    opacity: 1; /* Firefox */
	font-size: 11.5px;
	letter-spacing: 0.6px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b1afaf;
	font-size: 11.5px;
	letter-spacing: 0.6px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #b1afaf;
	font-size: 11.5px;
	letter-spacing: 0.6px;
}





